.morePage {
  position: relative;
  height: 100%;
  font-size: .4rem;
  text-align: left;
  header {
    height: 0.88rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
  }
  footer {
    height: 1.0rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .more_body {
    box-sizing: border-box;
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    .more_cells{
      margin-bottom: .2rem;
      background: #fff;
      padding: 0 .2rem;
      &:first-child {
        margin-top: .2rem;
      }
      .more_cell {
        padding: .2rem 0;
        position: relative;
        display: -webkit-box;
        display: -webkit-flex;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
        align-items: center;
        border-bottom: 1px solid #D9D9D9;
        .more_hd {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          flex: 1;
          text-align: left;
          .more_label {
            word-wrap: break-word;
            word-break: break-all;
          }
          span {
            font-size: .32rem;
            display: inline-block;
          }
        }
        .more_ft {
          text-align: right;
          color: #999;
          font-size: .32rem;
          &.arrow {
            padding-right: .36rem;
          }
          &.arrow:after {
            border: 2px solid #c8c8cd;
            border-bottom-width: 0;
            border-left-width: 0;
            content: " ";
            top: 50%;
            right: 0;
            position: absolute;
            width: .26rem;
            height: .26rem;
            -webkit-transform: translateY(-50%) rotate(45deg);
            transform: translateY(-50%) rotate(45deg);
          }
        }
      }
      .more_cell:last-child {
        border-bottom: none;
      }
    }
  }
  header ~ .more_body {
    padding-top: 0.88rem;
  }
}
