@import '../../styles/app';
.loginPage {
    .avatar-content {
        height: 3.65rem;
        background: #fff;
        margin-bottom: .18rem;
        @include vertical();
        img {
            width: 1.6rem;
            height: 1.6rem;
            border-radius: 50%;
        }
        .tip {
            font-size: 17px;
            margin: 0;
            color: #8E8F95;
        }
    }
}

.valid-button {
    margin: .23rem .1rem;
    width: 2rem;
    height: .6rem;
    border: 1px solid #028BE6;
    color: #028BE6;
    background: none;
    outline: none;
    &.disabled {
        border: 1px solid #ccc;
        background: #ccc;
        color: #fff;
    }
}

.section-button {
    padding: 16px;
}