.mint-field .mint-cell-title {
    text-align: left;
    width: 80px;
    padding-left: .36rem;
}

.mint-field-other {
    height: 100%;
}

.mint-button--primary {
    background-color: #028BE6;
}
.form-label {
    .sex-value {
        color: #757575;
    }
}