@import "../../styles/app";
.planCalendarPage {
    .item-cell {
        display: block;
        height: 1.4rem;
        background: url(../../assets/image/out-background.png) no-repeat;
        background-size: 100%;
        @include vertical();
        -webkit-box-align: start;
        box-sizing: border-box;
        padding-left: 16px;
        position: relative;
        .cell-date {
            font-size: 20px;
            color: #fff;
        }
        .cell-assign {
            font-size: 14px;
            color: #C8C8C8;
        }
        .label {
            position: absolute;
            top: 50%;
            right: .77rem;
            color: #fff;
            transform: translateY(-50%);
            font-size: 18px;
        }
        &:after {
            position: absolute;
            top: 50%;
            right: .42rem;
            content: '';
            background: url(../../assets/image/icon-arrow-right-gray.png) no-repeat;
            width: .19rem;
            height: .34rem;
            background-size: 100%;
            transform: translateY(-50%);
        }
    }
    .doctor-msg {
        margin: .32rem .45rem;
        .doctor-avatar {
            @include vertical();
            float: left;
            height: 2.37rem;
            .img-box {
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                position: relative;
            }
            .co {
                display: block;
                width: .3rem;
                height: .3rem;
                background: #f00;
                color: #fff;
                font-size: .2rem;
                text-align: center;
                line-height: .3rem;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: .1rem;
            }
            img {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
            }
            .name {
                font-size: 16px;
                color: #787878;
                text-align: center;
            }
        }
        .medicine-tip {
            height: 2.37rem;
            margin-left: 2.34rem;
            background: #fff;
            position: relative;
            border-radius: 8px;
            box-shadow: 0 0 14px 0px rgba(0, 0, 0, 0.2);
            line-height: normal;
            @include vertical();
            &:after {
                content: '';
                width: .54rem;
                height: .54rem;
                transform: rotate(45deg);
                background: #fff;
                position: absolute;
                top: 50%;
                margin-top: -.27rem;
                left: -.27rem;
            }
            .tip {
                color: #028BE6;
                font-size: 28px;
                font-weight: bold;
                em {
                    font-size: 45px;
                }
            }
            .tip-ass {
                color: #787878;
                font-size: 20px;
            }
        }
    }
    .calendar-card {
        background: #fff;
        margin-top: 30px;
    }
    
}