@import "../../styles/app";
.activeplanPage {
    .sub-title {
        font-size: .36rem;
        color: #f23e27;
        padding: .55rem 10px .3rem;
        border-bottom: 1px solid #e5e5e5;
    }
    .item {
        background: #fff;
    }
    .item-cell {
        display: block;
        min-height: 1.2rem;
        line-height: 1.2rem;
        display: -webkit-flex;
        border-bottom: 1px solid #e5e5e5;
        position: relative;
        div.label {
            color: #000;
            font-size: 16px;
            flex: 2;
            padding-left: 15px;
        }
        div.values {
            flex: 3;
            color: #929292;
            font-size: 16px;
            padding-left: 10px;
            text-align: right;
            padding-right: 30px;
        }
       
        .cell-assign {
            font-size: 14px;
            color: #C8C8C8;
        }
      
        &.arrow-right:after {
            position: absolute;
            top: 50%;
            right: 10px;
            content: '';
            background: url(../../assets/image/icon-arrow-right-gray.png) no-repeat;
            width: .19rem;
            height: .34rem;
            background-size: 100%;
            transform: translateY(-50%);
        }
    }
    .section-button {
        margin-top: 20px;
    }
}