@import "../../styles/app";
.keepPage {
    position: relative;
    .overlay {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.7);
        z-index: 10;
        @include vertical();
        .overlay-tip {
            width: 85%;
            border-radius: 12px;
            padding: 20px 0;
            background: #fff;
            font-size: 16px;
        }
    }
    .icon-ok {
        width: .6rem;
        height: .49rem;
        background: url(../../assets/image/icon-ok.png) no-repeat;
        background-size: 100%;
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
    .item-cell {
        display: block;
        height: .8rem;
        line-height: .8rem;
        background: $maincolor;
        -webkit-box-align: start;
        box-sizing: border-box;
        padding-left: 16px;
        position: relative;
        text-align: center;
        border-bottom: 1px solid #fff;
        .cell-date {
            font-size: 16px;
            color: #fff;
        }
        .cell-assign {
            font-size: 14px;
            color: #C8C8C8;
        }
        .label {
            position: absolute;
            top: 50%;
            right: 20px;
            color: #fff;
            transform: translateY(-50%);
            font-size: 16px;
        }
    }
    .section-button {
        width: 6.7rem;
        height: .92rem;
        margin: 10px auto;
        box-sizing: border-box;
        .show-calc-button {
            background: #9ae1ff;
            height: .92rem;
            display: block;
            font-size: 16px;
            text-align: center;
            line-height: .92rem;
            color: #00597f;
            border: 1px solid #00597f;
            border-radius: 3px;
        }
    }
    .medicine-card {
        background: #fff;
        min-height: 7.28rem;
        border-radius: 8px;
        position: relative;
        overflow: hidden;
        transition: .4s all;
        .med-item {
            display: flex;
            padding: 8px 20px;
            border-bottom: 1px solid #e2e2e2;
            .med-name {
                flex: 5;
                font-size: 18px;
                color: #000;
                line-height: .75rem;
            }
            .med-button {
                flex: 1;
                font-size: 10px;
                a {
                    width: 1.84rem;
                    height: .75rem;
                    background: $maincolor;
                    color: #fff;
                    text-align: center;
                    line-height: .75rem;
                    font-size: 16px;
                    display: block;
                    border-radius: 6px;
                    &.disabled {
                        background: #d9d9d9;
                        color: #fff;
                    }
                }
            }
        }
        .timer {
            font-size: 16px;
            color: #000;
            letter-spacing: 0px;
            height: 1.15rem;
            line-height: 1.15rem;
            padding-left: 20px;
            border-bottom: 1px solid #e2e2e2;
            .icon-love {
                background: url(../../assets/image/icon-heart.png) no-repeat;
                width: .26rem;
                height: .26rem;
                background-size: .26rem;
                display: inline-block;
            }
        }
        .medicine-list {
            .label {
                font-size: .4rem;
            }
            li {
                font-size: 23px;
                line-height: 38px;
                color: #787878;
                letter-spacing: 0px;
            }
        }
        &.transition-hide {
            transform: perspective(600px) rotateY(90deg)
        }
    }
    .calendar-card {
        background: #f7f6f3;
        transition: .4s all;
    }
    .more_cells {
        margin-bottom: .2rem;
        background: $maincolor;
        padding: 0 .2rem;
        &:first-child {
            margin-top: .2rem;
        }
        .more_cell {
            padding: .2rem 0;
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
            align-items: center;
            border-bottom: 1px solid #D9D9D9;
            .more_hd {
                -webkit-box-flex: 1;
                -webkit-flex: 1;
                flex: 1;
                text-align: left;
                word-wrap: break-word;
                word-break: break-all;
                color: #fff;
                font-size: .4rem;
            }
            .more_ft {
                text-align: right;
                color: #fff;
                font-size: .32rem;
                &.arrow {
                    padding-right: .36rem;
                }
                &.arrow:after {
                    border: 2px solid #c8c8cd;
                    border-bottom-width: 0;
                    border-left-width: 0;
                    content: " ";
                    top: 50%;
                    right: 0;
                    position: absolute;
                    width: .26rem;
                    height: .26rem;
                    -webkit-transform: translateY(-50%) rotate(45deg);
                    transform: translateY(-50%) rotate(45deg);
                }
            }
        }
        .more_cell:last-child {
            border-bottom: none;
        }
    }
    .msg-box {
        width: 7.5rem;
        overflow: hidden;
        .msg-info-list {
            width: 15rem;
        }
    }
    .doctor-msg-info {
        background: $maincolor;
        padding: .3rem 0;
        float: left;
        width: 7.5rem;
        
        &.transform {
            transition: .5s all;
            transform: translateX(-7.5rem);
        }
        .doctor-avatar {
            @include vertical();
            float: left;
            height: 2.37rem;
            width: 2.24rem;
            border-right: 1px solid #00597f;
            .img-box {
                display: block;
                width: 1.5rem;
                height: 1.5rem;
                position: relative;
            }
            .co {
                display: block;
                width: .5rem;
                height: .5rem;
                background: #f00;
                color: #fff;
                font-size: .2rem;
                text-align: center;
                line-height: .5rem;
                border-radius: 50%;
                position: absolute;
                right: 0;
                top: 0;
            }
            img {
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
            }
            .name {
                font-size: 16px;
                color: #fff;
                text-align: center;
                margin-top: 10px;
            }
        }
        .medicine-tip {
            height: 2.37rem;
            margin-left: 2.34rem;
            position: relative;
            line-height: normal;
            @include vertical();
            padding: 0 20px;
            -webkit-box-align: start;
            .tip {
                color: #fff;
                font-size: 28px;
                margin-bottom: 10px;
                em {
                    margin: 0 5px;
                }
            }
            .tip-ass {
                color: #fff;
                font-size: 16px;
                line-height: 24px;
                @include ellipsisMulti(2);
            }
        }
    }
}